<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Sentiment Analysis</title>
     <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Sentiment Analysis </h1>

    <form action="{{ url_for('predict')}}" method="post">
        <textarea rows="10" cols="50" name="headnews" placeholder="Enter News Header Here " required></textarea>
        <br>
        <br>
        <button type="submit" name="news_button">Predict</button>
    </form>

   <br>
   <br>
    <h1 style="color:blue">{{ prediction_text }}</h1>
     <h1 style="color:red">{{ prediction_text_2 }}</h1>

 </div>

</body>
</html>